@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

:root {
    --royalblue: royalblue;
    --white: rgb(235, 235, 235);
}

html {
    font-size: 62.5%;   
}

/* ------- MENU LINKS ------- */

.nav {
  padding: 3rem;
  background-image: linear-gradient(to right, rgb(0, 110, 255) , yellow);
  font-family: 'Noto Sans JP', sans-serif;
} 

.nav-item {
  text-align: center;
  font-size: 2rem; 
}

.nav-item a {
  color: var(--white);
}

/* ------ PARALLAX ------- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}